<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.backend.modules.mapper.UserMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <select id="findPage" resultType="com.base.backend.modules.entity.User">
        select u.* from t_user u where u.deleted_ind = 0
        <if test="queryValue != null and queryValue != ''">
            and (upper(u.username) like concat('%', upper(#{queryValue}), '%')
            or upper(u.name) like concat('%', upper(#{queryValue}), '%')
            or upper(u.phone) like concat('%', upper(#{queryValue}), '%')
            )
        </if>
    </select>
</mapper>
